@font-face {
  font-family: 'Calendas Plus';
  src: url('/assets/fonts/Calendas-Plus/Calendas-Plus-Complete-Webfont/Calendas-Plus-Regular-Webfont/calendas_plus-webfont.eot');
  src: url('/assets/fonts/Calendas-Plus/Calendas-Plus-Complete-Webfont/Calendas-Plus-Regular-Webfont/calendas_plus-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('/assets/fonts/Calendas-Plus/Calendas-Plus-Complete-Webfont/Calendas-Plus-Regular-Webfont/calendas_plus-webfont.woff2')
      format('woff2'),
    url('/assets/fonts/Calendas-Plus/Calendas-Plus-Complete-Webfont/Calendas-Plus-Regular-Webfont/calendas_plus-webfont.woff')
      format('woff'),
    url('/assets/fonts/Calendas-Plus/Calendas-Plus-Complete-Webfont/Calendas-Plus-Regular-Webfont/calendas_plus-webfont.ttf')
      format('truetype'),
    url('/assets/fonts/Calendas-Plus/Calendas-Plus-Complete-Webfont/Calendas-Plus-Regular-Webfont/calendas_plus-webfont.svg#calendas_plusregular')
      format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Calendas Plus';
  src: url('/assets/fonts/Calendas-Plus/Calendas-Plus-Complete-Webfont/Calendas-Plus-Italic-Webfont/calendas_plus_italic-webfont.eot');
  src: url('/assets/fonts/Calendas-Plus/Calendas-Plus-Complete-Webfont/Calendas-Plus-Italic-Webfont/calendas_plus_italic-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('/assets/fonts/Calendas-Plus/Calendas-Plus-Complete-Webfont/Calendas-Plus-Italic-Webfont/calendas_plus_italic-webfont.woff2')
      format('woff2'),
    url('/assets/fonts/Calendas-Plus/Calendas-Plus-Complete-Webfont/Calendas-Plus-Italic-Webfont/calendas_plus_italic-webfont.woff')
      format('woff'),
    url('/assets/fonts/Calendas-Plus/Calendas-Plus-Complete-Webfont/Calendas-Plus-Italic-Webfont/calendas_plus_italic-webfont.ttf')
      format('truetype'),
    url('/assets/fonts/Calendas-Plus/Calendas-Plus-Complete-Webfont/Calendas-Plus-Italic-Webfont/calendas_plus_italic-webfont.svg#calendas_plusitalic')
      format('svg');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Calendas Plus';
  src: url('/assets/fonts/Calendas-Plus/Calendas-Plus-Complete-Webfont/Calendas-Plus-Bold-Webfont/calendas_plus_bold-webfont.eot');
  src: url('/assets/fonts/Calendas-Plus/Calendas-Plus-Complete-Webfont/Calendas-Plus-Bold-Webfont/calendas_plus_bold-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('/assets/fonts/Calendas-Plus/Calendas-Plus-Complete-Webfont/Calendas-Plus-Bold-Webfont/calendas_plus_bold-webfont.woff2')
      format('woff2'),
    url('/assets/fonts/Calendas-Plus/Calendas-Plus-Complete-Webfont/Calendas-Plus-Bold-Webfont/calendas_plus_bold-webfont.woff')
      format('woff'),
    url('/assets/fonts/Calendas-Plus/Calendas-Plus-Complete-Webfont/Calendas-Plus-Bold-Webfont/calendas_plus_bold-webfont.ttf')
      format('truetype'),
    url('/assets/fonts/Calendas-Plus/Calendas-Plus-Complete-Webfont/Calendas-Plus-Bold-Webfont/calendas_plus_bold-webfont.svg#calendas_plusbold')
      format('svg');
  font-weight: bold;
  font-style: normal;
}
