@import url('https://rsms.me/inter/inter.css');

:root {
  /* sizing & spacing */
  --unit-line-height: 1.5em;

  /* color */
  --color-bg: #a8a29e;
  --color-text: #121212;
  --color-secondary: #679581;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-size: 24px;
  line-height: calc(var(--unit-line-height));
  font-family: 'Calendas Plus', serif;
  font-weight: normal;
}

body {
  margin: 0 calc(var(--unit-line-height));
  /* max-width: 40rem; */
  font-size: clamp(18px, 2vw, 25px);
}

hr {
  margin: 0 calc(-1 * var(--unit-line-height));
  /* margin-right: calc(-1 * var(--unit-line-height)); */
  height: 2px;
  border: 0;
  background-color: var(--color-text);
  opacity: 0.75;
}
header {
  padding-top: 1rem;
  margin-bottom: 3rem;
}

p.header-about {
  max-width: 600px;
  margin-bottom: 1rem;
}

.header-nav {
  /* display: flex;
  flex-direction: column; */
  font-size: 16px;
}

a {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  color: var(--color-text);
  width: -moz-fit-content;
  width: fit-content;
}

a:hover {
  color: white;
}
