:root {
  /* sizing & spacing */
  --unit-line-height: 1.25em;
  --unit-size: 28px;

  /* color */
  --color-bg: #a8a29e;
  --color-text: #000;
  --color-secondary: #679581;
  --color-link: #fff;
}

* {
  margin: 0;
  padding: 0;
}

html {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-size: var(--unit-size);
  line-height: calc(var(--unit-line-height));
  font-family: 'Calendas Plus', sans-serif;
  font-weight: normal;
}

body {
  margin: 3%;
  max-width: 40rem;
}

p.intro {
  max-width: 600px;
  margin-bottom: 3rem;
}
